@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Mali');



body{
 background:#fba0ff;
font-family: 'Fjalla One', sans-serif;;
color:purple;
font-size:20px;
}

  
  .Morgan {
  background: #9ec3ff;
}
  
  
  

